<div *ngIf="city">
  <div class="d-flex ">
    <div id="left-container" class="container-sm">
  <h2>{{city.name}}</h2>
  <p>{{city.country}}</p>
  </div>
  <div id="right-container" class="container-md ">
  <img src="{{city.img}}" width="100px" />
</div>
  </div>
  <div *ngFor="let post of city.posts">
    <div id="postcard" class="card mb-3 --bs-light-border-subtle" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a routerLink="/cities/{{city.id}}/posts/{{post.id}}">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>