<div class="d-flex">
    <div class="p-2" id="leftcontent">
        <h2 id="leftcontent">Why is Travel Important?</h2>
        <p id="leftcontent">Traveling gives you the opportunity to explore new cultures and experience things outside your comfort zone. For some, it helps to disconnect from every day, busy life, and find creativity and inspiration.</p>
    </div>
    <div class="p-2">
        <h2>Popular Travel Cities</h2>
        <p>It's no secret that San Francisco, London, and Sydney are popular destinations for travelers! Their city size, attractions, and popular eateries make them easy picks. But a new city has made our list for its amazing sights and easy way of life: Gibraltar.</p>
    </div>
    <div class="p-2">
        <h2>Best Months for Travel</h2>
        <p>Data from popular travel sights like Kayak and TripAdvisor now show that the best times to travel are: May to early June and late August through mid-October. We're now seeing that these months see the lowest and best rates!</p>
    </div>
</div>