<div class="d-flex">
<section id="left-container" class="container-sm">
  <div *ngIf="post" id="postdetail">
  <h2 id="postdetail">{{post.title}}</h2>
  <h3 id="postdetail">Author: {{post.author}}</h3>
  <p id="postdetail">{{post.content}}</p>
</div>
</section>

<section id="right-container" class="container-md">
  <input type="text" [(ngModel)]="searchTerm" (input)="filterPosts()" placeholder="Search posts...">
  <h2 id="view">All Posts</h2>
  <div *ngFor="let post of filteredPosts">
    <!-- Validations -->
    <div *ngIf="post.title !=='' && post.title.length < 200 && post.content !==''"> 
<div id="postcard" class="card mb-3 --bs-light-border-subtle allposts" style="max-width: 540px;" >
 
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</section>